@charset "utf-8";
/* CSS Document */

#google_container {
    /* background: url("../images/google.jpg") repeat scroll 0 0 / cover rgba(0, 0, 0, 0); */
    height: 543px;
	margin:0;
    padding-top: 25px;
	padding-right:25px;
    width: 97%;
	float:left;
}
#google_container .wrapper {
		width:60%;
		float:right;
		
	}


#google_container .wrapper  h1 {
    background-color: #6383D6;
    border-radius: 5px;
    box-shadow: -2px 3px 3px #A0A0A0;
    color: #FFFFFF;
    font-size: 2em;
    margin: 0.67em 0;
    padding: 14px;
}
#google_container .wrapper table{
	width:100%;	
}
#google_container .wrapper input[type="submit"] {
		background-color: #6081D6;
		border: 1px solid #4A6DC0;
		border-radius: 5px;
		color: #FFFFFF;
		cursor: pointer;
		font-size: 20px;
		margin: 1px;
		padding: 9px 35px;
}
#google_container .wrapper select {
    border-radius: 4px;
    height: auto;
} 


#google_container .wrapper td {
    padding-top: 11px;
	font-size:15px;
}